{% extends "main.html" %}
{% import "partials/nav-item.html" as item with context %}

{% block container %}
  {% set is_resource = page.url.startswith("contenus/ressources/") %}
  {% set author = page.meta.auteur_autre | default("", true) | trim or page.meta.auteur %}

  <div class="md-content md-content--post" data-md-component="content">
    <div class="md-sidebar md-sidebar--post" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-post">
          <nav class="md-nav md-nav--primary">
            <div class="md-post__back">
              <div class="md-nav__title md-nav__container">
                <a href="{{ page.parent.url | url }}" class="md-nav__link">
                  {% include ".icons/material/arrow-left.svg" %}
                  <span class="md-ellipsis">{{ lang.t("blog.index") }}</span>
                </a>
              </div>
            </div>

            {% if page.authors %}
              <div class="md-post__authors md-typeset">
                {% for author in page.authors %}
                  <div class="md-profile md-post__profile">
                    <span class="md-author md-author--long">
                      <img src="{{ author.avatar | url }}" alt="{{ author.name }}">
                    </span>
                    <span class="md-profile__description">
                      <strong>
                        {% if author.url %}
                          <a href="{{ author.url | url }}">{{ author.name }}</a>
                        {% else %}
                          {{ author.name }}
                        {% endif %}
                      </strong>
                      <br>
                      {{ author.description }}
                    </span>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if not is_resource %}
              <ul class="md-post__meta md-nav__list">
                <li class="md-nav__item md-nav__item--section">
                  <div class="md-post__title">
                    <span class="md-ellipsis">{{ lang.t("blog.meta") }}</span>
                  </div>
                  <nav class="md-nav">
                    <ul class="md-nav__list">
                      <li class="md-nav__item">
                        <div class="md-nav__link">
                          {% include ".icons/material/calendar.svg" %}
                          <time datetime="{{ page.config.date.created }}" class="md-ellipsis">
                            {{- page.config.date.created | date -}}
                          </time>
                        </div>
                      </li>

                      {% if page.config.date.updated %}
                        <li class="md-nav__item">
                          <div class="md-nav__link">
                            {% include ".icons/material/calendar-clock.svg" %}
                            <time datetime="{{ page.config.date.updated }}" class="md-ellipsis">
                              {{- page.config.date.updated | date -}}
                            </time>
                          </div>
                        </li>
                      {% endif %}

                      {% if page.categories %}
                        <li class="md-nav__item">
                          <div class="md-nav__link">
                            {% include ".icons/material/bookshelf.svg" %}
                            <span class="md-ellipsis">
                              {{ lang.t("blog.categories.in") }}
                              {% for category in page.categories %}
                                <a href="{{ category.url | url }}">{{ category.title }}</a>
                                {%- if loop.revindex > 1 %}, {% endif -%}
                              {% endfor %}
                            </span>
                          </div>
                        </li>
                      {% endif %}

                      {% if page.config.readtime %}
                        {% set time = page.config.readtime %}
                        <li class="md-nav__item">
                          <div class="md-nav__link">
                            {% include ".icons/material/clock-outline.svg" %}
                            <span class="md-ellipsis">
                              {% if time == 1 %}
                                {{ lang.t("readtime.one") }}
                              {% else %}
                                {{ lang.t("readtime.other") | replace("#", time) }}
                              {% endif %}
                            </span>
                          </div>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                </li>
              </ul>
            {% endif %}

            {% if is_resource %}
              <ul class="md-post__meta md-nav__list resource-sidebar-meta">
                <li class="md-nav__item md-nav__item--section">
                  <dl class="resource-sidebar-meta__list">
                    <div>
                      <dt>Date de publication</dt>
                      <dd>
                        <time datetime="{{ page.config.date.created }}">
                          {{- page.config.date.created | date -}}
                        </time>
                      </dd>
                    </div>
                    {% if page.meta.date_sujet %}
                      <div>
                        <dt>Date du sujet</dt>
                        <dd>{{ page.meta.date_sujet | date }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.date_maj %}
                      <div>
                        <dt>Mis à jour le</dt>
                        <dd>
                          {{ page.meta.date_maj | date }}
                          à {{ page.meta.date_maj.strftime("%H:%M") }}
                        </dd>
                      </div>
                    {% endif %}
                    {% if page.meta.thematiques %}
                      <div>
                        <dt>Thématiques scientifiques</dt>
                        <dd>{{ page.meta.thematiques | join(", ") }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.domaines %}
                      <div>
                        <dt>Thèmes grand public</dt>
                        <dd>{{ page.meta.domaines | join(", ") }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.cibles %}
                      <div>
                        <dt>Public</dt>
                        <dd>{{ page.meta.cibles | join(", ") }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.territoire %}
                      <div>
                        <dt>Territoire</dt>
                        <dd>{{ page.meta.territoire | join(", ") }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.support %}
                      <div>
                        <dt>Support</dt>
                        <dd>{{ page.meta.support | join(", ") }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.langue %}
                      <div>
                        <dt>Langue</dt>
                        <dd>{{ page.meta.langue | upper }}</dd>
                      </div>
                    {% endif %}
                    {% if author %}
                      <div>
                        <dt>Auteur / Producteur</dt>
                        <dd>{{ author }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.contact %}
                      <div>
                        <dt>Contact</dt>
                        <dd>{{ page.meta.contact }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.referent_scientifique %}
                      <div>
                        <dt>Référent scientifique</dt>
                        <dd>{{ page.meta.referent_scientifique }}</dd>
                      </div>
                    {% endif %}
                    {% if page.meta.source %}
                      <div>
                        <dt>Source externe</dt>
                        <dd>{{ page.meta.source }}</dd>
                      </div>
                    {% endif %}
                  </dl>
                </li>
              </ul>
            {% endif %}

            {% if page.config.links %}
              <ul class="md-post__meta md-nav__list">
                <li class="md-nav__item md-nav__item--section">
                  <div class="md-post__title">
                    <span class="md-ellipsis">{{ lang.t("blog.references") }}</span>
                  </div>
                  <nav class="md-nav">
                    <ul class="md-nav__list">
                      {% for nav_item in page.config.links %}
                        {% set path = "__ref_" ~ loop.index %}
                        {{ item.render(nav_item, path, 1) }}
                      {% endfor %}
                    </ul>
                  </nav>
                </li>
              </ul>
            {% endif %}
          </nav>

          {% if "toc.integrate" in features %}
            {% include "partials/toc.html" %}
          {% endif %}
        </div>
      </div>
    </div>

    <article class="md-content__inner md-typeset">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{% endblock %}
